
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <ol class="breadcrumb float-sm-left">
                                <!-- <li class="breadcrumb-item"><a href="#">Главная</a></li> -->
                                <li class="breadcrumb-item active">Список Клиентов</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->


            <!-- Main content -->
            <section class="content">
                <div class="row">

                    <div class="col-md-3">

                        <!-- Profile Image -->
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img class="profile-user-img img-fluid img-circle"
                                        src=" /dist/img/user2-160x160.jpg" alt="User profile picture">
                                </div>

                                <h3 class="profile-username text-center">Жамшид Нуриидинов</h3>

                                <p class="text-muted text-center">Software Engineer</p>

                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Компания</b> <a class="float-right">BrainDev</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Тел:</b> <a class="float-right">+9989110660</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Баланс</b> <a class="float-right">130 287</a>
                                    </li>
                                </ul>

                                <a href="#" class="btn btn-primary btn-block"><b>Изменить</b></a>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                        <!-- About Me Box -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">About Me</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <strong><i class="fas fa-book mr-1"></i> Education</strong>

                                <p class="text-muted">
                                    B.S. in Computer Science from the University of Tennessee at Knoxville
                                </p>

                                <hr>

                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                                <p class="text-muted">Malibu, California</p>

                                <hr>

                                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                                <p class="text-muted">
                                    <span class="tag tag-danger">UI Design</span>
                                    <span class="tag tag-success">Coding</span>
                                    <span class="tag tag-info">Javascript</span>
                                    <span class="tag tag-warning">PHP</span>
                                    <span class="tag tag-primary">Node.js</span>
                                </p>

                                <hr>

                                <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                                    fermentum enim neque.</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#deals"
                                            data-toggle="tab">История Сделок</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#timeline"
                                            data-toggle="tab">Timeline</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#settings"
                                            data-toggle="tab">Settings</a></li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active tab-pane" id="deals">

                                        <!-- Tables -->
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">Список товаров</h3>
                                                </div>
                                                <!-- /.card-header -->
                                                <div class="card-body">
                                                    <table id="dealsTable" class="table table-bordered table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>ID Сделки</th>
                                                                <th>Дата</th>
                                                                <th>Общая Цена</th>
                                                                <th>Скидка</th>
                                                                <th>Результативная Цена</th>
                                                                <th>Оплачено</th>
                                                                <th>Долг</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>10.02.2020</td>
                                                                <td>5750398</td>
                                                                <td>284156</td>
                                                                <td>9827357</td>
                                                                <td>776217</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>05.04.2020</td>
                                                                <td>2234067</td>
                                                                <td>304803</td>
                                                                <td>8141748</td>
                                                                <td>936646</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>05.08.2019</td>
                                                                <td>8630744</td>
                                                                <td>323180</td>
                                                                <td>6706243</td>
                                                                <td>508073</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>4</td>
                                                                <td>27.11.2019</td>
                                                                <td>5537549</td>
                                                                <td>534793</td>
                                                                <td>7908627</td>
                                                                <td>109190</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>5</td>
                                                                <td>05.03.2020</td>
                                                                <td>9363139</td>
                                                                <td>158087</td>
                                                                <td>8223323</td>
                                                                <td>278462</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>6</td>
                                                                <td>28.04.2020</td>
                                                                <td>2784899</td>
                                                                <td>673763</td>
                                                                <td>7339255</td>
                                                                <td>198893</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>7</td>
                                                                <td>05.06.2020</td>
                                                                <td>2676694</td>
                                                                <td>701563</td>
                                                                <td>9091333</td>
                                                                <td>415865</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>8</td>
                                                                <td>18.02.2020</td>
                                                                <td>9993492</td>
                                                                <td>586746</td>
                                                                <td>7269293</td>
                                                                <td>277766</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>9</td>
                                                                <td>17.03.2020</td>
                                                                <td>6982900</td>
                                                                <td>748964</td>
                                                                <td>8720002</td>
                                                                <td>718633</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>10</td>
                                                                <td>28.10.2019</td>
                                                                <td>9335602</td>
                                                                <td>583911</td>
                                                                <td>2864620</td>
                                                                <td>708291</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>11</td>
                                                                <td>21.05.2020</td>
                                                                <td>4778034</td>
                                                                <td>212119</td>
                                                                <td>9008802</td>
                                                                <td>356656</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>12</td>
                                                                <td>17.08.2019</td>
                                                                <td>6356221</td>
                                                                <td>752929</td>
                                                                <td>5079436</td>
                                                                <td>345122</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>13</td>
                                                                <td>02.06.2020</td>
                                                                <td>5167030</td>
                                                                <td>783093</td>
                                                                <td>9689044</td>
                                                                <td>605777</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>14</td>
                                                                <td>02.10.2019</td>
                                                                <td>3803678</td>
                                                                <td>900437</td>
                                                                <td>9977344</td>
                                                                <td>536157</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>15</td>
                                                                <td>14.08.2019</td>
                                                                <td>7131254</td>
                                                                <td>551048</td>
                                                                <td>1925073</td>
                                                                <td>247348</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>16</td>
                                                                <td>26.12.2019</td>
                                                                <td>2211010</td>
                                                                <td>274887</td>
                                                                <td>4236002</td>
                                                                <td>490338</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>17</td>
                                                                <td>12.07.2020</td>
                                                                <td>5431801</td>
                                                                <td>673043</td>
                                                                <td>5715951</td>
                                                                <td>502245</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>18</td>
                                                                <td>20.07.2019</td>
                                                                <td>7295159</td>
                                                                <td>174786</td>
                                                                <td>6722253</td>
                                                                <td>556884</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>19</td>
                                                                <td>05.08.2019</td>
                                                                <td>2180202</td>
                                                                <td>330621</td>
                                                                <td>4544057</td>
                                                                <td>143877</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>20</td>
                                                                <td>08.10.2019</td>
                                                                <td>3864472</td>
                                                                <td>683385</td>
                                                                <td>8883998</td>
                                                                <td>798952</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>21</td>
                                                                <td>18.07.2019</td>
                                                                <td>2935968</td>
                                                                <td>298556</td>
                                                                <td>5148636</td>
                                                                <td>682786</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>22</td>
                                                                <td>10.07.2020</td>
                                                                <td>3681795</td>
                                                                <td>530970</td>
                                                                <td>3117017</td>
                                                                <td>197792</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>23</td>
                                                                <td>01.01.2020</td>
                                                                <td>9419272</td>
                                                                <td>250682</td>
                                                                <td>8941134</td>
                                                                <td>720867</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>24</td>
                                                                <td>28.03.2020</td>
                                                                <td>8370597</td>
                                                                <td>462771</td>
                                                                <td>2468537</td>
                                                                <td>851973</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>25</td>
                                                                <td>02.07.2020</td>
                                                                <td>5886301</td>
                                                                <td>858361</td>
                                                                <td>2254292</td>
                                                                <td>872755</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>26</td>
                                                                <td>20.08.2019</td>
                                                                <td>1388351</td>
                                                                <td>825462</td>
                                                                <td>9881489</td>
                                                                <td>743569</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>27</td>
                                                                <td>25.04.2020</td>
                                                                <td>6304635</td>
                                                                <td>461155</td>
                                                                <td>1241201</td>
                                                                <td>220432</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>28</td>
                                                                <td>06.12.2019</td>
                                                                <td>4603258</td>
                                                                <td>443974</td>
                                                                <td>5908594</td>
                                                                <td>240617</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>29</td>
                                                                <td>25.08.2019</td>
                                                                <td>9129180</td>
                                                                <td>501109</td>
                                                                <td>1444072</td>
                                                                <td>203468</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>30</td>
                                                                <td>01.04.2020</td>
                                                                <td>1446207</td>
                                                                <td>896983</td>
                                                                <td>6413594</td>
                                                                <td>514716</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>31</td>
                                                                <td>21.02.2020</td>
                                                                <td>3406508</td>
                                                                <td>340400</td>
                                                                <td>1595960</td>
                                                                <td>996576</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>32</td>
                                                                <td>19.02.2020</td>
                                                                <td>8793090</td>
                                                                <td>127577</td>
                                                                <td>1748822</td>
                                                                <td>710847</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>33</td>
                                                                <td>25.05.2020</td>
                                                                <td>9989885</td>
                                                                <td>318850</td>
                                                                <td>2386244</td>
                                                                <td>571645</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>34</td>
                                                                <td>09.04.2020</td>
                                                                <td>6585464</td>
                                                                <td>149908</td>
                                                                <td>8059117</td>
                                                                <td>646655</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>35</td>
                                                                <td>07.10.2019</td>
                                                                <td>7890759</td>
                                                                <td>580976</td>
                                                                <td>2155951</td>
                                                                <td>683579</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>36</td>
                                                                <td>15.10.2019</td>
                                                                <td>1189651</td>
                                                                <td>355173</td>
                                                                <td>6129935</td>
                                                                <td>516770</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>37</td>
                                                                <td>08.09.2019</td>
                                                                <td>2261649</td>
                                                                <td>839805</td>
                                                                <td>3275845</td>
                                                                <td>539639</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>38</td>
                                                                <td>17.11.2019</td>
                                                                <td>6537315</td>
                                                                <td>432766</td>
                                                                <td>9608607</td>
                                                                <td>691274</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>39</td>
                                                                <td>05.01.2020</td>
                                                                <td>9730373</td>
                                                                <td>306073</td>
                                                                <td>7145832</td>
                                                                <td>524432</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>40</td>
                                                                <td>31.05.2020</td>
                                                                <td>4826918</td>
                                                                <td>508528</td>
                                                                <td>2451664</td>
                                                                <td>620391</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>41</td>
                                                                <td>27.04.2020</td>
                                                                <td>7240786</td>
                                                                <td>301721</td>
                                                                <td>3905228</td>
                                                                <td>292379</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>42</td>
                                                                <td>03.04.2020</td>
                                                                <td>6581037</td>
                                                                <td>301869</td>
                                                                <td>7141371</td>
                                                                <td>872300</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>43</td>
                                                                <td>08.02.2020</td>
                                                                <td>4336772</td>
                                                                <td>227546</td>
                                                                <td>1197696</td>
                                                                <td>428295</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>44</td>
                                                                <td>17.04.2020</td>
                                                                <td>6903816</td>
                                                                <td>809668</td>
                                                                <td>4799537</td>
                                                                <td>553266</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>45</td>
                                                                <td>23.01.2020</td>
                                                                <td>8996433</td>
                                                                <td>317678</td>
                                                                <td>9077581</td>
                                                                <td>865509</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>46</td>
                                                                <td>10.03.2020</td>
                                                                <td>5987803</td>
                                                                <td>249715</td>
                                                                <td>2671815</td>
                                                                <td>130833</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>47</td>
                                                                <td>05.09.2019</td>
                                                                <td>3975291</td>
                                                                <td>760563</td>
                                                                <td>4398703</td>
                                                                <td>807665</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>48</td>
                                                                <td>04.08.2019</td>
                                                                <td>8117687</td>
                                                                <td>977607</td>
                                                                <td>8016713</td>
                                                                <td>228373</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>49</td>
                                                                <td>29.09.2019</td>
                                                                <td>1305089</td>
                                                                <td>188418</td>
                                                                <td>2374459</td>
                                                                <td>773839</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>50</td>
                                                                <td>06.06.2020</td>
                                                                <td>5173472</td>
                                                                <td>248045</td>
                                                                <td>2372814</td>
                                                                <td>556262</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>51</td>
                                                                <td>06.06.2020</td>
                                                                <td>6862795</td>
                                                                <td>325033</td>
                                                                <td>6625049</td>
                                                                <td>248292</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>52</td>
                                                                <td>15.10.2019</td>
                                                                <td>3738642</td>
                                                                <td>480941</td>
                                                                <td>8773500</td>
                                                                <td>150103</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>53</td>
                                                                <td>16.11.2019</td>
                                                                <td>3126534</td>
                                                                <td>746460</td>
                                                                <td>3795272</td>
                                                                <td>932385</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>54</td>
                                                                <td>13.06.2020</td>
                                                                <td>5634247</td>
                                                                <td>530416</td>
                                                                <td>4068694</td>
                                                                <td>129643</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>55</td>
                                                                <td>19.04.2020</td>
                                                                <td>9904968</td>
                                                                <td>707518</td>
                                                                <td>8980533</td>
                                                                <td>938164</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>56</td>
                                                                <td>22.07.2019</td>
                                                                <td>6810895</td>
                                                                <td>148678</td>
                                                                <td>8291361</td>
                                                                <td>553225</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>57</td>
                                                                <td>20.04.2020</td>
                                                                <td>4886282</td>
                                                                <td>722940</td>
                                                                <td>8666837</td>
                                                                <td>499273</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>58</td>
                                                                <td>25.10.2019</td>
                                                                <td>7274295</td>
                                                                <td>789615</td>
                                                                <td>7962237</td>
                                                                <td>451459</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>59</td>
                                                                <td>31.05.2020</td>
                                                                <td>3612271</td>
                                                                <td>777821</td>
                                                                <td>1836015</td>
                                                                <td>179119</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>60</td>
                                                                <td>27.03.2020</td>
                                                                <td>9967816</td>
                                                                <td>501816</td>
                                                                <td>4738822</td>
                                                                <td>601041</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>61</td>
                                                                <td>05.05.2020</td>
                                                                <td>8575094</td>
                                                                <td>806656</td>
                                                                <td>1059383</td>
                                                                <td>724111</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>62</td>
                                                                <td>22.10.2019</td>
                                                                <td>5049828</td>
                                                                <td>488313</td>
                                                                <td>5479675</td>
                                                                <td>597966</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>63</td>
                                                                <td>05.06.2020</td>
                                                                <td>7820172</td>
                                                                <td>970319</td>
                                                                <td>3065979</td>
                                                                <td>253160</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>64</td>
                                                                <td>18.11.2019</td>
                                                                <td>7195117</td>
                                                                <td>600981</td>
                                                                <td>3193381</td>
                                                                <td>365390</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>65</td>
                                                                <td>14.03.2020</td>
                                                                <td>6437809</td>
                                                                <td>837758</td>
                                                                <td>2692317</td>
                                                                <td>148096</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>66</td>
                                                                <td>06.04.2020</td>
                                                                <td>5215617</td>
                                                                <td>431529</td>
                                                                <td>1636878</td>
                                                                <td>350392</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>67</td>
                                                                <td>10.07.2020</td>
                                                                <td>4916571</td>
                                                                <td>608206</td>
                                                                <td>7723403</td>
                                                                <td>908296</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>68</td>
                                                                <td>27.05.2020</td>
                                                                <td>7153612</td>
                                                                <td>130032</td>
                                                                <td>5954633</td>
                                                                <td>672679</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>69</td>
                                                                <td>27.05.2020</td>
                                                                <td>9600994</td>
                                                                <td>238022</td>
                                                                <td>1148414</td>
                                                                <td>363043</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>70</td>
                                                                <td>20.11.2019</td>
                                                                <td>8250579</td>
                                                                <td>564887</td>
                                                                <td>8846628</td>
                                                                <td>140116</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>71</td>
                                                                <td>20.09.2019</td>
                                                                <td>1413595</td>
                                                                <td>183088</td>
                                                                <td>6731280</td>
                                                                <td>815785</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>72</td>
                                                                <td>16.07.2019</td>
                                                                <td>6600849</td>
                                                                <td>832191</td>
                                                                <td>7823570</td>
                                                                <td>957043</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>73</td>
                                                                <td>09.09.2019</td>
                                                                <td>9750780</td>
                                                                <td>575319</td>
                                                                <td>4765958</td>
                                                                <td>417767</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>74</td>
                                                                <td>05.06.2020</td>
                                                                <td>9048845</td>
                                                                <td>306554</td>
                                                                <td>1478404</td>
                                                                <td>867490</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>75</td>
                                                                <td>15.11.2019</td>
                                                                <td>8234335</td>
                                                                <td>941474</td>
                                                                <td>8803916</td>
                                                                <td>670807</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>76</td>
                                                                <td>24.05.2020</td>
                                                                <td>1852705</td>
                                                                <td>442455</td>
                                                                <td>1414014</td>
                                                                <td>972552</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>77</td>
                                                                <td>20.12.2019</td>
                                                                <td>6473881</td>
                                                                <td>367595</td>
                                                                <td>2042453</td>
                                                                <td>435420</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>78</td>
                                                                <td>14.07.2020</td>
                                                                <td>3708980</td>
                                                                <td>105775</td>
                                                                <td>1158778</td>
                                                                <td>910015</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>79</td>
                                                                <td>09.07.2020</td>
                                                                <td>2734836</td>
                                                                <td>744165</td>
                                                                <td>6298773</td>
                                                                <td>848934</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>80</td>
                                                                <td>02.05.2020</td>
                                                                <td>8994752</td>
                                                                <td>719143</td>
                                                                <td>7749865</td>
                                                                <td>218745</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>81</td>
                                                                <td>28.12.2019</td>
                                                                <td>4181602</td>
                                                                <td>660236</td>
                                                                <td>1201157</td>
                                                                <td>433914</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>82</td>
                                                                <td>04.09.2019</td>
                                                                <td>1840071</td>
                                                                <td>743471</td>
                                                                <td>9844891</td>
                                                                <td>562796</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>83</td>
                                                                <td>13.01.2020</td>
                                                                <td>8737837</td>
                                                                <td>700391</td>
                                                                <td>8072648</td>
                                                                <td>491592</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>84</td>
                                                                <td>21.05.2020</td>
                                                                <td>9330911</td>
                                                                <td>320164</td>
                                                                <td>3494613</td>
                                                                <td>422057</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>85</td>
                                                                <td>13.09.2019</td>
                                                                <td>4908455</td>
                                                                <td>429092</td>
                                                                <td>2400484</td>
                                                                <td>269224</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>86</td>
                                                                <td>05.05.2020</td>
                                                                <td>8403570</td>
                                                                <td>105173</td>
                                                                <td>9520454</td>
                                                                <td>212000</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>87</td>
                                                                <td>20.12.2019</td>
                                                                <td>3882174</td>
                                                                <td>137156</td>
                                                                <td>9925139</td>
                                                                <td>119219</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>88</td>
                                                                <td>05.10.2019</td>
                                                                <td>3400994</td>
                                                                <td>178676</td>
                                                                <td>4854515</td>
                                                                <td>361471</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>89</td>
                                                                <td>27.04.2020</td>
                                                                <td>6624244</td>
                                                                <td>851474</td>
                                                                <td>8476692</td>
                                                                <td>207166</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>90</td>
                                                                <td>21.03.2020</td>
                                                                <td>8334637</td>
                                                                <td>157090</td>
                                                                <td>8047164</td>
                                                                <td>807955</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>91</td>
                                                                <td>04.02.2020</td>
                                                                <td>5989165</td>
                                                                <td>636864</td>
                                                                <td>8601328</td>
                                                                <td>975971</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>92</td>
                                                                <td>30.05.2020</td>
                                                                <td>6534532</td>
                                                                <td>907295</td>
                                                                <td>3205248</td>
                                                                <td>683185</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>93</td>
                                                                <td>27.11.2019</td>
                                                                <td>6124989</td>
                                                                <td>105814</td>
                                                                <td>4420477</td>
                                                                <td>589417</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>94</td>
                                                                <td>13.08.2019</td>
                                                                <td>3301333</td>
                                                                <td>164376</td>
                                                                <td>6736103</td>
                                                                <td>482753</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>95</td>
                                                                <td>09.12.2019</td>
                                                                <td>7819868</td>
                                                                <td>948732</td>
                                                                <td>8656225</td>
                                                                <td>976395</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>96</td>
                                                                <td>20.11.2019</td>
                                                                <td>4447719</td>
                                                                <td>126749</td>
                                                                <td>1530892</td>
                                                                <td>141910</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>97</td>
                                                                <td>08.11.2019</td>
                                                                <td>5624059</td>
                                                                <td>698707</td>
                                                                <td>5261683</td>
                                                                <td>592858</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>98</td>
                                                                <td>13.04.2020</td>
                                                                <td>4986066</td>
                                                                <td>949917</td>
                                                                <td>8049303</td>
                                                                <td>460912</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>99</td>
                                                                <td>11.11.2019</td>
                                                                <td>7203799</td>
                                                                <td>370832</td>
                                                                <td>8391439</td>
                                                                <td>298673</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>100</td>
                                                                <td>08.01.2020</td>
                                                                <td>8178928</td>
                                                                <td>908136</td>
                                                                <td>1011546</td>
                                                                <td>136883</td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>

                                                        <tfoot>
                                                            <tr>
                                                                <th>ID Сделки</th>
                                                                <th>Дата</th>
                                                                <th>Общая Цена</th>
                                                                <th>Скидка</th>
                                                                <th>Результативная Цена</th>
                                                                <th>Оплачено</th>
                                                                <th>Долг</th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                            <!-- /.card -->
                                        </div>
                                        <!-- /.col -->

                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="timeline">
                                        <!-- The timeline -->
                                        <div class="timeline timeline-inverse">
                                            <!-- timeline time label -->
                                            <div class="time-label">
                                                <span class="bg-danger">
                                                    10 Feb. 2014
                                                </span>
                                            </div>
                                            <!-- /.timeline-label -->
                                            <!-- timeline item -->
                                            <div>
                                                <i class="fas fa-envelope bg-primary"></i>

                                                <div class="timeline-item">
                                                    <span class="time"><i class="far fa-clock"></i> 12:05</span>

                                                    <h3 class="timeline-header"><a href="#">Support Team</a> sent you an
                                                        email</h3>

                                                    <div class="timeline-body">
                                                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo
                                                        kaboodle
                                                        quora plaxo ideeli hulu weebly balihoo...
                                                    </div>
                                                    <div class="timeline-footer">
                                                        <a href="#" class="btn btn-primary btn-sm">Read more</a>
                                                        <a href="#" class="btn btn-danger btn-sm">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END timeline item -->
                                            <!-- timeline item -->
                                            <div>
                                                <i class="fas fa-user bg-info"></i>

                                                <div class="timeline-item">
                                                    <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                                                    <h3 class="timeline-header border-0"><a href="#">Sarah Young</a>
                                                        accepted your friend request
                                                    </h3>
                                                </div>
                                            </div>
                                            <!-- END timeline item -->
                                            <!-- timeline item -->
                                            <div>
                                                <i class="fas fa-comments bg-warning"></i>

                                                <div class="timeline-item">
                                                    <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>

                                                    <h3 class="timeline-header"><a href="#">Jay White</a> commented on
                                                        your post</h3>

                                                    <div class="timeline-body">
                                                        Take me to your leader!
                                                        Switzerland is small and neutral!
                                                        We are more like Germany, ambitious and misunderstood!
                                                    </div>
                                                    <div class="timeline-footer">
                                                        <a href="#" class="btn btn-warning btn-flat btn-sm">View
                                                            comment</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END timeline item -->
                                            <!-- timeline time label -->
                                            <div class="time-label">
                                                <span class="bg-success">
                                                    3 Jan. 2014
                                                </span>
                                            </div>
                                            <!-- /.timeline-label -->
                                            <!-- timeline item -->
                                            <div>
                                                <i class="fas fa-camera bg-purple"></i>

                                                <div class="timeline-item">
                                                    <span class="time"><i class="far fa-clock"></i> 2 days ago</span>

                                                    <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new
                                                        photos</h3>

                                                    <div class="timeline-body">
                                                        <img src="http://placehold.it/150x100" alt="...">
                                                        <img src="http://placehold.it/150x100" alt="...">
                                                        <img src="http://placehold.it/150x100" alt="...">
                                                        <img src="http://placehold.it/150x100" alt="...">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END timeline item -->
                                            <div>
                                                <i class="far fa-clock bg-gray"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->

                                    <div class="tab-pane" id="settings">
                                        <form class="form-horizontal">
                                            <div class="form-group row">
                                                <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control" id="inputName"
                                                        placeholder="Name">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control" id="inputEmail"
                                                        placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="inputName2"
                                                        placeholder="Name">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputExperience"
                                                    class="col-sm-2 col-form-label">Experience</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" id="inputExperience"
                                                        placeholder="Experience"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="inputSkills"
                                                        placeholder="Skills">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-sm-2 col-sm-10">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> I agree to the <a href="#">terms and
                                                                conditions</a>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-sm-2 col-sm-10">
                                                    <button type="submit" class="btn btn-danger">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.nav-tabs-custom -->
                    </div>
                    <!-- /.col -->

                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->

        </div>
  

       
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->
    <script src="/dist/js/adminlte.min.js"></script>

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="/dist/js/adminlte.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="/plugins/chart.js/Chart.min.js"></script>
    <script src="/dist/js/pages/dashboard3.js"></script>

    <!-- Select2 -->
    <script src="/plugins/select2/js/select2.full.min.js"></script>
    <!-- DataTables -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script>
        $(function () {
            $("#dealsTable").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
        });
    </script>
