

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <ol class="breadcrumb float-sm-left">
                                <!-- <li class="breadcrumb-item"><a href="#">Главная</a></li> -->
                                <li class="breadcrumb-item active">Создать Продукт</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">

                        <!-- Forms -->
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="card card-success">
                                        <div class="card-header">
                                            <h3 class="card-title">Новый Продукт</h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <form action="">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Класс</label>
                                                            <select class="form-control select2" style="width: 100%;">
                                                                <option selected="selected">Коса</option>
                                                                <option>Чайник</option>
                                                                <option>Тарелка</option>
                                                                <option>Пиалушка</option>
                                                                <option>Лодка</option>
                                                                <option>Чашка</option>
                                                                <option>Конфетница</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Подкласс</label>
                                                            <input type="text" list="subclass" class="form-control" placeholder="Подкласс">
                                                            <datalist id="subclass">
                                                                <option selected="selected">Тип 1</option>
                                                                <option>Тип 2</option>
                                                                <option>Тип 3</option>
                                                                <option>Тип 4</option>
                                                                <option>Тип 5</option>
                                                            </datalist>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Рисунок</label>
                                                            <input type="text" list="drawing" class="form-control" placeholder="Рисунок">
                                                            <datalist id="drawing">
                                                                <option selected="selected">Рисунок 1</option>
                                                                <option>Рисунок 2</option>
                                                                <option>Рисунок 3</option>
                                                                <option>Рисунок 4</option>
                                                                <option>Рисунок 5</option>
                                                            </datalist>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Размер</label>
                                                            <input type="text" list="size" class="form-control" placeholder="Размер">
                                                            <datalist id="size">
                                                                <option selected="selected">Размер 1</option>
                                                                <option>Размер 2</option>
                                                                <option>Размер 3</option>
                                                                <option>Размер 4</option>
                                                                <option>Размер 5</option>
                                                            </datalist>
                                                        </div>
                                                    </div>
                                        
                                        
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input class="custom-control-input" type="checkbox" id="customCheckbox1"
                                                                            value="option1">
                                                                        <label for="customCheckbox1" class="custom-control-label">Сорт 1</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <input type="number" class="form-control" placeholder="Цена">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                        
                                        
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input class="custom-control-input" type="checkbox" id="customCheckbox2"
                                                                            value="option2">
                                                                        <label for="customCheckbox2" class="custom-control-label">Сорт 2</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <input type="number" class="form-control" placeholder="Цена">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                        
                                        
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input class="custom-control-input" type="checkbox" id="customCheckbox5"
                                                                            value="option3">
                                                                        <label for="customCheckbox5" class="custom-control-label">Сорт 3</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <input type="number" class="form-control" placeholder="Цена" disabled>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                        
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <button type="button" class="btn btn-success swalDefaultSuccess">Создать</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- /.card-body -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
    </div>
    <!-- /.content-wrapper -->
 

    <!-- REQUIRED SCRIPTS -->
    <script src="/dist/js/adminlte.min.js"></script>

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="/dist/js/adminlte.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="/plugins/chart.js/Chart.min.js"></script>
    <script src="/dist/js/pages/dashboard3.js"></script>