
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-12">
              <ol class="breadcrumb float-sm-left">
                <!-- <li class="breadcrumb-item"><a href="#">Главная</a></li> -->
                <li class="breadcrumb-item active">История Пополненения Склада</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">


            <!-- Tables -->
            <div class="col-12">
                <!-- 1 sort -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">История Пополненения Склада</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="supplementTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID Продукта</th>
                                    <th>Кол-во</th>
                                    <th>Дата Пополненения</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>54</td>
                                    <td>17.11.2019</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>68</td>
                                    <td>29.07.2019</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>88</td>
                                    <td>24.06.2020</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>18</td>
                                    <td>29.10.2019</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>46</td>
                                    <td>01.10.2019</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>50</td>
                                    <td>15.12.2019</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>58</td>
                                    <td>02.04.2020</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>82</td>
                                    <td>16.10.2019</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>93</td>
                                    <td>08.06.2020</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>71</td>
                                    <td>24.09.2019</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>15</td>
                                    <td>01.09.2019</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>58</td>
                                    <td>14.09.2019</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>80</td>
                                    <td>10.12.2019</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>98</td>
                                    <td>13.04.2020</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>64</td>
                                    <td>06.05.2020</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>72</td>
                                    <td>30.11.2019</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>70</td>
                                    <td>10.05.2020</td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>79</td>
                                    <td>14.02.2020</td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>42</td>
                                    <td>28.04.2020</td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td>56</td>
                                    <td>01.09.2019</td>
                                </tr>
                                <tr>
                                    <td>21</td>
                                    <td>38</td>
                                    <td>17.08.2019</td>
                                </tr>
                                <tr>
                                    <td>22</td>
                                    <td>75</td>
                                    <td>24.08.2019</td>
                                </tr>
                                <tr>
                                    <td>23</td>
                                    <td>43</td>
                                    <td>14.08.2019</td>
                                </tr>
                                <tr>
                                    <td>24</td>
                                    <td>87</td>
                                    <td>26.08.2019</td>
                                </tr>
                                <tr>
                                    <td>25</td>
                                    <td>99</td>
                                    <td>29.01.2020</td>
                                </tr>
                                <tr>
                                    <td>26</td>
                                    <td>36</td>
                                    <td>07.12.2019</td>
                                </tr>
                                <tr>
                                    <td>27</td>
                                    <td>50</td>
                                    <td>08.10.2019</td>
                                </tr>
                                <tr>
                                    <td>28</td>
                                    <td>75</td>
                                    <td>30.09.2019</td>
                                </tr>
                                <tr>
                                    <td>29</td>
                                    <td>26</td>
                                    <td>18.04.2020</td>
                                </tr>
                                <tr>
                                    <td>30</td>
                                    <td>33</td>
                                    <td>19.01.2020</td>
                                </tr>
                                <tr>
                                    <td>31</td>
                                    <td>15</td>
                                    <td>10.12.2019</td>
                                </tr>
                                <tr>
                                    <td>32</td>
                                    <td>58</td>
                                    <td>15.06.2020</td>
                                </tr>
                                <tr>
                                    <td>33</td>
                                    <td>48</td>
                                    <td>10.11.2019</td>
                                </tr>
                                <tr>
                                    <td>34</td>
                                    <td>6</td>
                                    <td>06.09.2019</td>
                                </tr>
                                <tr>
                                    <td>35</td>
                                    <td>86</td>
                                    <td>25.09.2019</td>
                                </tr>
                                <tr>
                                    <td>36</td>
                                    <td>53</td>
                                    <td>10.09.2019</td>
                                </tr>
                                <tr>
                                    <td>37</td>
                                    <td>35</td>
                                    <td>12.11.2019</td>
                                </tr>
                                <tr>
                                    <td>38</td>
                                    <td>99</td>
                                    <td>02.01.2020</td>
                                </tr>
                                <tr>
                                    <td>39</td>
                                    <td>74</td>
                                    <td>27.10.2019</td>
                                </tr>
                                <tr>
                                    <td>40</td>
                                    <td>99</td>
                                    <td>25.09.2019</td>
                                </tr>
                                <tr>
                                    <td>41</td>
                                    <td>19</td>
                                    <td>06.10.2019</td>
                                </tr>
                                <tr>
                                    <td>42</td>
                                    <td>89</td>
                                    <td>15.11.2019</td>
                                </tr>
                                <tr>
                                    <td>43</td>
                                    <td>55</td>
                                    <td>27.04.2020</td>
                                </tr>
                                <tr>
                                    <td>44</td>
                                    <td>55</td>
                                    <td>14.11.2019</td>
                                </tr>
                                <tr>
                                    <td>45</td>
                                    <td>94</td>
                                    <td>06.03.2020</td>
                                </tr>
                                <tr>
                                    <td>46</td>
                                    <td>61</td>
                                    <td>04.07.2020</td>
                                </tr>
                                <tr>
                                    <td>47</td>
                                    <td>43</td>
                                    <td>21.07.2019</td>
                                </tr>
                                <tr>
                                    <td>48</td>
                                    <td>45</td>
                                    <td>02.01.2020</td>
                                </tr>
                                <tr>
                                    <td>49</td>
                                    <td>90</td>
                                    <td>02.11.2019</td>
                                </tr>
                                <tr>
                                    <td>50</td>
                                    <td>100</td>
                                    <td>16.02.2020</td>
                                </tr>
                                <tr>
                                    <td>51</td>
                                    <td>33</td>
                                    <td>12.08.2019</td>
                                </tr>
                                <tr>
                                    <td>52</td>
                                    <td>47</td>
                                    <td>09.12.2019</td>
                                </tr>
                                <tr>
                                    <td>53</td>
                                    <td>18</td>
                                    <td>04.05.2020</td>
                                </tr>
                                <tr>
                                    <td>54</td>
                                    <td>46</td>
                                    <td>13.04.2020</td>
                                </tr>
                                <tr>
                                    <td>55</td>
                                    <td>21</td>
                                    <td>06.03.2020</td>
                                </tr>
                                <tr>
                                    <td>56</td>
                                    <td>34</td>
                                    <td>24.12.2019</td>
                                </tr>
                                <tr>
                                    <td>57</td>
                                    <td>26</td>
                                    <td>15.01.2020</td>
                                </tr>
                                <tr>
                                    <td>58</td>
                                    <td>54</td>
                                    <td>10.10.2019</td>
                                </tr>
                                <tr>
                                    <td>59</td>
                                    <td>88</td>
                                    <td>15.08.2019</td>
                                </tr>
                                <tr>
                                    <td>60</td>
                                    <td>92</td>
                                    <td>09.01.2020</td>
                                </tr>
                                <tr>
                                    <td>61</td>
                                    <td>83</td>
                                    <td>10.09.2019</td>
                                </tr>
                                <tr>
                                    <td>62</td>
                                    <td>44</td>
                                    <td>17.07.2019</td>
                                </tr>
                                <tr>
                                    <td>63</td>
                                    <td>50</td>
                                    <td>22.06.2020</td>
                                </tr>
                                <tr>
                                    <td>64</td>
                                    <td>81</td>
                                    <td>11.01.2020</td>
                                </tr>
                                <tr>
                                    <td>65</td>
                                    <td>44</td>
                                    <td>11.12.2019</td>
                                </tr>
                                <tr>
                                    <td>66</td>
                                    <td>66</td>
                                    <td>10.11.2019</td>
                                </tr>
                                <tr>
                                    <td>67</td>
                                    <td>77</td>
                                    <td>07.12.2019</td>
                                </tr>
                                <tr>
                                    <td>68</td>
                                    <td>59</td>
                                    <td>26.03.2020</td>
                                </tr>
                                <tr>
                                    <td>69</td>
                                    <td>50</td>
                                    <td>30.11.2019</td>
                                </tr>
                                <tr>
                                    <td>70</td>
                                    <td>48</td>
                                    <td>18.12.2019</td>
                                </tr>
                                <tr>
                                    <td>71</td>
                                    <td>61</td>
                                    <td>09.01.2020</td>
                                </tr>
                                <tr>
                                    <td>72</td>
                                    <td>15</td>
                                    <td>11.05.2020</td>
                                </tr>
                                <tr>
                                    <td>73</td>
                                    <td>65</td>
                                    <td>23.10.2019</td>
                                </tr>
                                <tr>
                                    <td>74</td>
                                    <td>81</td>
                                    <td>10.06.2020</td>
                                </tr>
                                <tr>
                                    <td>75</td>
                                    <td>44</td>
                                    <td>28.04.2020</td>
                                </tr>
                                <tr>
                                    <td>76</td>
                                    <td>40</td>
                                    <td>05.05.2020</td>
                                </tr>
                                <tr>
                                    <td>77</td>
                                    <td>19</td>
                                    <td>25.05.2020</td>
                                </tr>
                                <tr>
                                    <td>78</td>
                                    <td>52</td>
                                    <td>27.09.2019</td>
                                </tr>
                                <tr>
                                    <td>79</td>
                                    <td>59</td>
                                    <td>11.10.2019</td>
                                </tr>
                                <tr>
                                    <td>80</td>
                                    <td>37</td>
                                    <td>24.09.2019</td>
                                </tr>
                                <tr>
                                    <td>81</td>
                                    <td>46</td>
                                    <td>03.06.2020</td>
                                </tr>
                                <tr>
                                    <td>82</td>
                                    <td>20</td>
                                    <td>11.09.2019</td>
                                </tr>
                                <tr>
                                    <td>83</td>
                                    <td>51</td>
                                    <td>18.05.2020</td>
                                </tr>
                                <tr>
                                    <td>84</td>
                                    <td>73</td>
                                    <td>29.01.2020</td>
                                </tr>
                                <tr>
                                    <td>85</td>
                                    <td>34</td>
                                    <td>01.11.2019</td>
                                </tr>
                                <tr>
                                    <td>86</td>
                                    <td>60</td>
                                    <td>30.12.2019</td>
                                </tr>
                                <tr>
                                    <td>87</td>
                                    <td>45</td>
                                    <td>05.08.2019</td>
                                </tr>
                                <tr>
                                    <td>88</td>
                                    <td>47</td>
                                    <td>01.02.2020</td>
                                </tr>
                                <tr>
                                    <td>89</td>
                                    <td>11</td>
                                    <td>30.03.2020</td>
                                </tr>
                                <tr>
                                    <td>90</td>
                                    <td>84</td>
                                    <td>16.04.2020</td>
                                </tr>
                                <tr>
                                    <td>91</td>
                                    <td>8</td>
                                    <td>07.05.2020</td>
                                </tr>
                                <tr>
                                    <td>92</td>
                                    <td>64</td>
                                    <td>14.01.2020</td>
                                </tr>
                                <tr>
                                    <td>93</td>
                                    <td>91</td>
                                    <td>23.11.2019</td>
                                </tr>
                                <tr>
                                    <td>94</td>
                                    <td>30</td>
                                    <td>27.07.2019</td>
                                </tr>
                                <tr>
                                    <td>95</td>
                                    <td>54</td>
                                    <td>25.03.2020</td>
                                </tr>
                                <tr>
                                    <td>96</td>
                                    <td>89</td>
                                    <td>10.11.2019</td>
                                </tr>
                                <tr>
                                    <td>97</td>
                                    <td>59</td>
                                    <td>27.06.2020</td>
                                </tr>
                                <tr>
                                    <td>98</td>
                                    <td>87</td>
                                    <td>19.10.2019</td>
                                </tr>
                                <tr>
                                    <td>99</td>
                                    <td>51</td>
                                    <td>25.02.2020</td>
                                </tr>
                                <tr>
                                    <td>100</td>
                                    <td>23</td>
                                    <td>15.05.2020</td>
                                </tr>
                            </tbody>


                            <tfoot>
                                <tr>
                                    <th>ID Продукта</th>
                                    <th>Кол-во</th>
                                    <th>Дата Пополненения</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->

          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
  
  <!-- REQUIRED SCRIPTS -->
  <script src=" /dist/js/adminlte.min.js"></script>

  <!-- jQuery -->
  <script src=" /plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src=" /plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE -->
  <script src=" /dist/js/adminlte.js"></script>

  <!-- OPTIONAL SCRIPTS -->
  <script src=" /plugins/chart.js/Chart.min.js"></script>
  <script src=" /dist/js/pages/dashboard3.js"></script>

  <!-- Select2 -->
  <script src=" /plugins/select2/js/select2.full.min.js"></script>
  <!-- DataTables -->
  <script src=" /plugins/datatables/jquery.dataTables.min.js"></script>
  <script src=" /plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src=" /plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src=" /plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

  <script>
    $(function () {
      $("#supplementTable").DataTable({
        "responsive": true,
        "autoWidth": false,
      });
    });
  </script>