     <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <ol class="breadcrumb float-sm-left">
                                <!-- <li class="breadcrumb-item"><a href="#">Главная</a></li> -->
                                <li class="breadcrumb-item active">Изменить Настройки</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <div class="content">
                <div class="container-fluid">
                    <div class="row">

                        <!-- Forms -->
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-info">
                                        <div class="card-header">
                                            <h3 class="card-title">Настройки</h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <form action="">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Фамилия Имя</label>
                                                            <input type="text" class="form-control" placeholder="Фамилия Имя">
                                                        </div>
                                                    </div>
                                        
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Пароль</label>
                                                            <input type="password" class="form-control" placeholder="Действующий Пароль">
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Новый Пароль</label>
                                                            <input type="password" class="form-control" placeholder="Новый Пароль">
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Подтвердить Пароль</label>
                                                            <input type="password" class="form-control" placeholder="Подтвердить Пароль">
                                                        </div>
                                                    </div>
                                        
                                                      <div class="col-md-12">
                                                        <div class="form-group">
                                                            <input type="submit" value="Сохранить" class="btn btn-success swalDefaultSuccess" name="submit">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- /.card-body -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Дополнительные услуги</h3>
                            </div>
                            
                            <div class="card-body">
                                <div class="row">
                                    
                                    <div class="col-6">
                                        <form action="/product/service-create" method="POST">
                                            
                                            <div class="form-group">
                                                <label>Название услуги</label>
                                                <input type="text" name="service_name" id="service_name" class="form-control select2" autocomplete="off"  required style="font-weight:bold" >
                                                
                                            </div>
                                                
                                            <div class="form-group">
                                                <label>Код</label>
                                                <input type="number" name="service_code" id="service_code"  class="form-control select2" style="font-weight:bold" required >
                                                
                                            </div>

                                            <div class="form-group">
                                                <label>Дополнительная цена</label>
                                                <input type="number" name="service_price" id="service_price"  class="form-control select2" style="font-weight:bold" required >
                                                
                                            </div>
                                            
                                            <div class="form-group">
                                                <input type="submit" id="create-btn" value="Создать" class="btn btn-success swalDefaultSuccess" name="submit">
                                            </div>
                                        
                                        </form>  
                                    </div>
                                    <div class="col-6">
                                        <label for="">Список услуг</label>
                                        <table id="example1" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Название</th>
                                                    <th>Код</th>
                                                    <th>Цена</th>
                                                    <th style="width:20px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each services}}
                                                <tr>
                                                    
                                                    <td>{{name}}</td>
                                                    <td>{{code}}</td>
                                                    <td>{{price}}</td>
                                                    <td>
                                                        <form action="/product/service-delete/{{id}}" method="POST" style="display:inline-block;">
                                                            <button type="submit"
                                                                class="btn btn-danger btn-sm mt-1"><i class="fa fa-trash"></i></button>    
                                                        </form>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
    <!-- /.content-wrapper -->
 

 

    <!-- REQUIRED SCRIPTS -->
    <script src="/dist/js/adminlte.min.js"></script>

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="/dist/js/adminlte.js"></script>
    
    <!-- OPTIONAL SCRIPTS -->
    <script src="/plugins/chart.js/Chart.min.js"></script>
    <script src="/dist/js/pages/dashboard3.js"></script>

</body>

</html>